QDialog {
	background: white;
	font-family: 'Roboto','Arial', sans-serif;
	font-size: 14px;
}

QPushButton {
        font-family: 'Roboto','Arial', sans-serif;
	height: 32px;
}

#btnAutoInstall {
	font-weight: bold;
}
